assets/models/** filter=lfs diff=lfs merge=lfs -text
assets/hdri/** filter=lfs diff=lfs merge=lfs -text
assets/textures/** filter=lfs diff=lfs merge=lfs -text
competition_submission/*.docx filter=lfs diff=lfs merge=lfs -text
